{% extends "::layoutAdmin.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="-webkit-transform: translate3d(100%, 0px, 0px); transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    {% block menu %}
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" style="width: 100%;" src="{{ asset('bundles/Devografiecms/images/admin/avatar.jpg') }}">
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Cedric Gatefoin</strong>
                             </span> <span class="text-muted text-xs block">Developpeur <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="#">Profile</a></li>
                                <li><a href="http://webapplayers.com/inspinia_admin-v2.0/contacts.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            Dev
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Parametrage</span> <span class="fa arrow"></span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sliders"></i> <span class="nav-label">Caroussel</span> {#<span class="label label-primary pull-right">NEW</span>#}</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-rss"></i> <span class="nav-label">Blog</span> {#<span class="label label-primary pull-right">NEW</span>#}</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-map-marker"></i> <span class="nav-label">Geolocalisation</span> {#<span class="label label-primary pull-right">NEW</span>#}</a>
                    </li>

                    {# Suite du menu #}

                    {#
                    <li>
                        <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span> <span class="label label-primary pull-right">NEW</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="http://webapplayers.com/inspinia_admin-v2.0/graph_flot.html">Flot Charts</a></li>
                            <li><a href="http://webapplayers.com/inspinia_admin-v2.0/graph_morris.html">Morris.js Charts</a></li>
                            <li><a href="http://webapplayers.com/inspinia_admin-v2.0/graph_rickshaw.html">Rickshaw Charts</a></li>
                            <li><a href="http://webapplayers.com/inspinia_admin-v2.0/graph_chartjs.html">Chart.js</a></li>
                            <li><a href="http://webapplayers.com/inspinia_admin-v2.0/graph_peity.html">Peity Charts</a></li>
                            <li><a href="http://webapplayers.com/inspinia_admin-v2.0/graph_sparkline.html">Sparkline Charts</a></li>
                        </ul>
                    </li>
                    #}
                </ul>
            </div>
        </nav>
    {% endblock %}

    <div id="page-wrapper" class="gray-bg dashbard-1" style="min-height: 1002px;">

        {% block entete %}
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="#">
                            <div class="form-group">
                                <input type="text" placeholder="Afficher/Masquer le menu..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out"></i> Se deconnecter
                            </a>
                        </li>
                        <li>
                            <a class="right-sidebar-toggle">
                                <i class="fa fa-tasks"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        {% endblock %}

        {% block footer %}
            <div class="footer">
                <div class="pull-right">
                    <strong>Copyright</strong> Devografie © 2015
                </div>
            </div>
        {% endblock %}

    </div>

{% endblock %}
