{% extends "DevografiecmsBundle::layoutAdmin.html.twig" %}

{% block filAriane %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Tableau des paramètres</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Administration</a>
                </li>
                <li class="active">
                    <strong>Tableau des paramètres</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}

{% block parametres %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/Devografiecms/css/admin/dataTables.tableTools.min.css') }}">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tableau des paramètres</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Option 1</a>
                                </li>
                                <li><a href="#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline">
                            <div class="DTTT_container">
                                <a class="DTTT_button DTTT_button_copy" id="ToolTables_DataTables_Table_0_0" tabindex="0" aria-controls="DataTables_Table_0">
                                    <span>Copy</span>
                                    <div style="position: absolute; left: 0px; top: 0px; width: 45px; height: 29px; z-index: 99;">
                                        <embed id="ZeroClipboard_TableToolsMovie_1" src="js/plugins/dataTables/swf/copy_csv_xls_pdf.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="45" height="29" name="ZeroClipboard_TableToolsMovie_1" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=1&amp;width=45&amp;height=29" wmode="transparent">
                                    </div>
                                </a>
                                <a class="DTTT_button DTTT_button_csv" id="ToolTables_DataTables_Table_0_1" tabindex="0" aria-controls="DataTables_Table_0">
                                    <span>CSV</span>
                                    <div style="position: absolute; left: 0px; top: 0px; width: 38px; height: 29px; z-index: 99;">
                                        <embed id="ZeroClipboard_TableToolsMovie_2" src="js/plugins/dataTables/swf/copy_csv_xls_pdf.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="38" height="29" name="ZeroClipboard_TableToolsMovie_2" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=2&amp;width=38&amp;height=29" wmode="transparent">
                                    </div>
                                </a>
                                <a class="DTTT_button DTTT_button_xls" id="ToolTables_DataTables_Table_0_2" tabindex="0" aria-controls="DataTables_Table_0">
                                    <span>Excel</span>
                                    <div style="position: absolute; left: 0px; top: 0px; width: 45px; height: 29px; z-index: 99;">
                                        <embed id="ZeroClipboard_TableToolsMovie_3" src="js/plugins/dataTables/swf/copy_csv_xls_pdf.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="45" height="29" name="ZeroClipboard_TableToolsMovie_3" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=3&amp;width=45&amp;height=29" wmode="transparent">
                                    </div>
                                </a>
                                <a class="DTTT_button DTTT_button_pdf" id="ToolTables_DataTables_Table_0_3" tabindex="0" aria-controls="DataTables_Table_0">
                                    <span>PDF</span>
                                    <div style="position: absolute; left: 0px; top: 0px; width: 39px; height: 29px; z-index: 99;">
                                        <embed id="ZeroClipboard_TableToolsMovie_4" src="js/plugins/dataTables/swf/copy_csv_xls_pdf.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="39" height="29" name="ZeroClipboard_TableToolsMovie_4" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=4&amp;width=39&amp;height=29" wmode="transparent">
                                    </div>
                                </a>
                                <a class="DTTT_button DTTT_button_print" id="ToolTables_DataTables_Table_0_4" title="View print view" tabindex="0" aria-controls="DataTables_Table_0">
                                    <span>Print</span>
                                </a>
                            </div>
                            <div class="clear"></div><div class="dataTables_length" id="DataTables_Table_0_length">
                                <label>
                                    <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> records per page
                                </label>
                            </div>
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <label>Search:
                                    <input type="search" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_0">
                                </label>
                            </div>
                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 227px;">Paramètre</th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 307px;">Actif</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeA odd" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Firefox 1.0</td>
                                    </tr><tr class="gradeA even" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Firefox 1.5</td>
                                    </tr><tr class="gradeA odd" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Firefox 2.0</td>
                                    </tr><tr class="gradeA even" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Firefox 3.0</td>
                                    </tr><tr class="gradeA odd" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Camino 1.0</td>
                                    </tr><tr class="gradeA even" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Camino 1.5</td>
                                    </tr><tr class="gradeA odd" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Netscape 7.2</td>
                                    </tr><tr class="gradeA even" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Netscape Browser 8</td>
                                    </tr><tr class="gradeA odd" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Netscape Navigator 9</td>
                                    </tr><tr class="gradeA even" role="row">
                                        <td class="sorting_1">Parametre de test</td>
                                        <td>Mozilla 1.0</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Paramètres</th>
                                        <th rowspan="1" colspan="1">Actif</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_previous">
                                        <a href="http://webapplayers.com/inspinia_admin-v2.0/table_data_tables.html#">Previous</a>
                                    </li>
                                    <li class="paginate_button active" aria-controls="DataTables_Table_0" tabindex="0">
                                        <a href="http://webapplayers.com/inspinia_admin-v2.0/table_data_tables.html#">1</a>
                                    </li>
                                    <li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0">
                                        <a href="http://webapplayers.com/inspinia_admin-v2.0/table_data_tables.html#">2</a>
                                    </li>
                                    <li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0">
                                        <a href="http://webapplayers.com/inspinia_admin-v2.0/table_data_tables.html#">3</a>
                                    </li>
                                    <li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0">
                                        <a href="http://webapplayers.com/inspinia_admin-v2.0/table_data_tables.html#">4</a>
                                    </li>
                                    <li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0">
                                        <a href="http://webapplayers.com/inspinia_admin-v2.0/table_data_tables.html#">5</a>
                                    </li><li class="paginate_button " aria-controls="DataTables_Table_0" tabindex="0">
                                        <a href="http://webapplayers.com/inspinia_admin-v2.0/table_data_tables.html#">6</a>
                                    </li>
                                    <li class="paginate_button next" aria-controls="DataTables_Table_0" tabindex="0" id="DataTables_Table_0_next">
                                        <a href="http://webapplayers.com/inspinia_admin-v2.0/table_data_tables.html#">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/Devografiecms/js/admin/jquery.dataTables.js') }}" type="text/javascript"></script>
{% endblock %}